* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.container {
    width: 800px;
    margin: 0 auto;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

main {
    display: flex;
}

.image-container {
    flex: 1;
}

img {
    width: 100%;
    height: auto;
}

.product-info {
    flex: 2;
    padding: 10px;
}

h2 {
    text-align: center;
}

p {
    margin-top: 50px;
    text-align: justify;
    
}

.p1{
    color: red;
    font-weight: 500;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}


/* Media queries */
@media (max-width: 768px) {
    .container {
        width: 100%;
    }

    main {
        display: block;
    }

    .image-container, .product-info {
        width: 100%;
    }
}

.button{
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}
.button:hover{
    background-color: blue;
    cursor: pointer;
}

.button1{
    border-radius: 2px;
}

.button3{
    border-radius: 12px;
}
.button4{
    border-radius: 12px;
}